body {
    background-color: #e9f7ef; /* Легкий зеленый фон */
    font-family: 'Arial', sans-serif;
}

.title {
    color: #27ae60; /* Темный зеленый цвет для заголовка */
    font-weight: bold;
    margin-bottom: 30px;

    margin-top: 70px;
}

.todo-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff; /* Белый фон для контейнера списка */
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-inline input {
    display: block;
}

.add-btn {
    background-color: #2ecc71; /* Сочный зеленый цвет для кнопки */
    color: white;
    border: none;
}

.add-btn:hover {
    background-color: #27ae60; /* Темный зеленый цвет для кнопки при наведении */
}

.list-group-item {
    display: block;

    margin: 10px 0;

    width: 100%;
    max-width: inherit;

    background-color: #e9f7ef; /* Легкий зеленый цвет для задач */
    color: #333;
    border: none;
    border-bottom: 1px solid #27ae60; /* Зеленая граница между задачами */
}

.delete-btn {
    display: block;
    background-color: #e74c3c; /* Красный цвет для кнопки удаления */
    color: white;
    border: none;

    margin: 0 auto;
}

.delete-btn:hover {
    background-color: #c0392b; /* Темный красный цвет при наведении */
}

#noTasks {
    text-align: center;
}

/* Header */

.header {
    background-color: #ffffff; /* Белый фон для контейнера списка */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header__inner {
    display: flex;

    align-items: center;
}

.header__logo {
    font-family: "Nerko One", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 50px;

    width: 50%;
    text-decoration: none;

    color: #27ae60;
}

.header__logo:hover {
    text-decoration: none;

    color: #2ecc71;
}

.header__logo:visited {
    text-decoration: none;
}

.header__navs {
    width: 50%;
    display: flex;

    justify-content: right;
}

.header__navs__item {
    text-decoration: none;
    cursor: pointer;

    margin-right: 40px;

    font-size: 20px;
    color: #27ae60;
}

.header__navs__item:hover {
    text-decoration: none;

    color: #2ecc71;
}

.header__navs__item:visited {
    text-decoration: none;
}


/* Container */

.container {
    max-width: 1200px;
    width: 100%;

    margin-top: 60px;
}

.container--header {
    max-width: 1200px;
    width: 100%;

    margin-top: 0;

    padding: 10px 0;
}

/* Message */
.message {
    color: red;
    margin: 10px 0;
}

/* Task */

.task-title {
    text-align: center;

    font-size: 20px;

    border-bottom: 1px solid #2ecc71;
}

.task-description {
    margin: 10px;
}

#taskDescriptionInput {
    height: 80px; /* Устанавливаем высоту для поля описания задачи */
    resize: none; /* Отключаем возможность изменения размера поля */
}


/* Checkbox */

/* Скрываем стандартный чекбокс */
.custom-checkbox {
    appearance: none; /* Убираем стандартный стиль чекбокса */
    -webkit-appearance: none; /* Для Safari */
    width: 20px;
    height: 20px;
    border: 2px solid #27ae60; /* Зеленая граница */
    border-radius: 50%; /* Делает чекбокс круглым */
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
}

/* Стиль для активного чекбокса (когда он отмечен) */
.custom-checkbox:checked {
    background-color: #27ae60; /* Зеленый цвет заливки */
    border-color: #27ae60; /* Зеленая граница */
}

/* Галочка внутри круга */
.custom-checkbox:checked::after {
    content: '✔'; /* Символ галочки */
    color: white; /* Цвет галочки */
    font-size: 14px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
