<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To-Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Nerko+One&display=swap" rel="stylesheet">
</head>
<body>

    <header class="header">

        <div class="container container--header">

            <div class="header__inner">
                
                <a class="header__logo" href="/">
                    ToDo
                </a>
                    
                <div class="header__navs">
                    {% if is_authenticated %}
                        <!-- Пользователь вошел в систему -->
                        <a class="header__navs__item" id="logoutBtn">Выход</a>
                    {% else %}
                        <!-- Пользователь не вошел в систему -->
                        <a href="/login" class="header__navs__item">Вход</a>
                        <a href="/register" class="header__navs__item">Регистрация</a>
                    {% endif %}
                </div>

                

            </div>

        </div> <!-- ./container -->

    </header> <!-- ./header -->

    <h1 class="text-center title">
        {% block title %}
        {{ username }}, это Ваш To-Do лист
        {% endblock %}
    </h1>

    <div class="container mt-5">

        <div class="todo-container">
            {% block content %}
            <form id="todoForm" class="justify-content-center" method="post" action="/addDo" content="application/json">
                <div class="d-flex align-items-center mb-2">
                    <!-- Название задачи и кнопка "Добавить" в одной строке -->
                    <input type="text" id="taskTitleInput" class="form-control mr-2" placeholder="Название задачи..." required>
                    <button type="submit" class="btn add-btn">Добавить</button>
                </div>
                <!-- Описание задачи ниже и с большей высотой -->
                <div>
                    <input type="text" id="taskDescriptionInput" class="form-control mb-2" placeholder="Описание задачи..." required>
                </div>
            </form>
            <ul id="taskList" class="list-group mt-4">
                {% for task in tasks %}
                    <li class="list-group-item task-item" id="task-{{ task.id }}">
                        <div class="task-content">
                            <!-- Статус выполнения -->
                            {% if task.completed %}
                                <input type="checkbox" class="custom-checkbox complete-task mr-2" id="checkbox-{{ task.id }}" checked>
                            {% else %}
                                <input type="checkbox" class="custom-checkbox complete-task mr-2" id="checkbox-{{ task.id }}">
                            {% endif %}
                            <!-- Название задачи -->
                            <div class="task-title" id="taskTitle-{{ task.id }}">{{ task.title }}</div>
                            <!-- Описание задачи -->
                            <div class="task-description" id="taskDescription-{{ task.id }}">{{ task.description }}</div>
                            <!-- Кнопка удаления -->
                            <button class="btn btn-sm btn-danger delete-btn">Удалить</button>
                        </div>
                    </li>
                {% else %}
                    <!-- Если список задач пуст -->
                    <li class="list-group-item" id="noTasks">Нет задач</li>
                {% endfor %}
            </ul>
            <div id="message"></div>
            {% endblock %}
        </div>
    </div>
    

    {% block scripts %}
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
    {% endblock %}
    <script src="{{ url_for('static', filename='js/logout.js') }}"></script>
</body>
</html>